body {
  background: linear-gradient(0.15turn, #7d89a8, rgb(29, 30, 45));
  min-height: 100vh;
}

.avatar {
  border-radius: 50%;
}

.page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}
nav a {
  color: white;
  font-size: 1.5rem;

  padding: 30px;
}
nav a:hover {
  text-decoration: 3px underline;
}
.welcome {
  color: white;
  font-size: 1.5rem;
}
table {
  border: 1px solid black;
}
