body {
  background: linear-gradient(0.15turn, #7d89a8, rgb(29, 30, 45));
}

.avatar {
  border-radius: 50%;
}

.page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.message-page {
  text-align: center;
  margin-top: 20px;
}

.message-page input {
  margin-right: 10px;
}

.response {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.message-box {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  resize: vertical;
  overflow-y: auto;
}

.message-box::placeholder {
  color: #aaa;
}
